<div class="jumbotron text-center">
  <h1>chat_Box</h1>
  <p>Welcome to chatbox mainchat</p>

</div>

<div class="container">
  <router-outlet>

    <div class="form-group">
      <label>Enter a Username if you want to (it can be changed)</label>
      <input name="user" class="form-control" type="text" (focusout)="changeUser(user.value)" #user >
    </div>

<h2>the_chat_history:</h2>
<div class="container" *ngFor="let chat of mainchat | async as chater">
<div class="card bg-light text-black">
  <div class="card-body">
    <label>{{ chat.user }}</label>
    {{ chat.message }}
  </div>
</div>
</div>

<br/>

<div class="form-group">
  <label>Input text</label>
  <input name="chat" class="form-control" type="text" (keyup.enter)="add(chat.value)" #chat >
</div>


<!-- <div class="form-group">
  <h6>Input Text</h6>
  <textarea class="form-control" rows="4" id="comment" type="text" (keyup.enter)="add(chat)" #chat></textarea>
</div> -->
<!-- <button class="btn btn-primary">Enter</button> -->

  </router-outlet>
</div>


<!-- <div>
  <input type="text" (keyup.enter)="add(chat.value)" #chat >
</div> -->


<!-- <div class="form-group">
  <h6>Input Text</h6>
  <textarea class="form-control" rows="4" id="comment" type="text" (keyup.enter)="add(chat)" #chat></textarea>
</div> -->
<!-- <button class="btn btn-primary">Enter</button> -->
