<div class="jumbotron text-center">
  <h1>________ chat_Box ________</h1>
  <p>Welcome to the chatbox chatroom</p>

</div>

<div class="container">
  <router-outlet>

    <div class="form-group">
      <label>
        Enter a Username if you want to (it can be changed)
      </label>
      <input
        name="user"
        class="form-control"
        type="text"
        (focusout)="changeUser(user.value)"
        #user
      >
    </div>

    <h2>_chat_history:</h2>
    <div class="ex3">
    <div class="container" *ngFor="let chat of mainchat | async as chater">
      <div class="card bg-light text-black">
        <div class="card-body card-chat">
          <label
            class="username">
            {{ chat.user }}
          </label>
          <label
            class="chatmessage">
            {{ chat.message }}
          </label>
        </div>
      </div>
    </div>
  </div>
    <br/>

    <div class="form-group">
      <label>
        Input text
      </label>
      <input
        class="form-control"
        type="text"
        (keyup.enter)="add(chat)"
        #chat
      >
    </div>

  </router-outlet>
</div>
